<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>testNotifications.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>770B90E96A0E270D01D9511DD48A71797F2A5EA1</string>
				<key>dateExpires</key>
				<string>19/06/2020</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>770B90E96A0E270D01D9511DD48A71797F2A5EA1</string>
						<key>dateExpires</key>
						<string>19/06/2020</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>CocoaLumberjack.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3T67HE76NG</string>
						<key>name</key>
						<string>CONNECTHINGS</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>770B90E96A0E270D01D9511DD48A71797F2A5EA1</string>
						<key>dateExpires</key>
						<string>19/06/2020</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>ConnectPlaceActions.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3T67HE76NG</string>
						<key>name</key>
						<string>CONNECTHINGS</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>770B90E96A0E270D01D9511DD48A71797F2A5EA1</string>
						<key>dateExpires</key>
						<string>19/06/2020</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>ConnectPlaceBeaconDetection.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3T67HE76NG</string>
						<key>name</key>
						<string>CONNECTHINGS</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>770B90E96A0E270D01D9511DD48A71797F2A5EA1</string>
						<key>dateExpires</key>
						<string>19/06/2020</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>ConnectPlaceCommon.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3T67HE76NG</string>
						<key>name</key>
						<string>CONNECTHINGS</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>770B90E96A0E270D01D9511DD48A71797F2A5EA1</string>
						<key>dateExpires</key>
						<string>19/06/2020</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>ConnectPlaceDetection.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3T67HE76NG</string>
						<key>name</key>
						<string>CONNECTHINGS</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>770B90E96A0E270D01D9511DD48A71797F2A5EA1</string>
						<key>dateExpires</key>
						<string>19/06/2020</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>ConnectPlaceGeoDetection.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3T67HE76NG</string>
						<key>name</key>
						<string>CONNECTHINGS</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>770B90E96A0E270D01D9511DD48A71797F2A5EA1</string>
						<key>dateExpires</key>
						<string>19/06/2020</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>ConnectPlaceProvider.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3T67HE76NG</string>
						<key>name</key>
						<string>CONNECTHINGS</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>770B90E96A0E270D01D9511DD48A71797F2A5EA1</string>
						<key>dateExpires</key>
						<string>19/06/2020</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>HerowAnalytics.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3T67HE76NG</string>
						<key>name</key>
						<string>CONNECTHINGS</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>770B90E96A0E270D01D9511DD48A71797F2A5EA1</string>
						<key>dateExpires</key>
						<string>19/06/2020</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>HerowConnection.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3T67HE76NG</string>
						<key>name</key>
						<string>CONNECTHINGS</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>770B90E96A0E270D01D9511DD48A71797F2A5EA1</string>
						<key>dateExpires</key>
						<string>19/06/2020</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>HerowLocationDetection.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3T67HE76NG</string>
						<key>name</key>
						<string>CONNECTHINGS</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>770B90E96A0E270D01D9511DD48A71797F2A5EA1</string>
						<key>dateExpires</key>
						<string>19/06/2020</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>PromiseKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3T67HE76NG</string>
						<key>name</key>
						<string>CONNECTHINGS</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>3T67HE76NG.com.connecthings.herow.testNotifications</string>
				<key>com.apple.developer.team-identifier</key>
				<string>3T67HE76NG</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>3T67HE76NG.com.connecthings.herow.testNotifications</string>
				</array>
			</dict>
			<key>name</key>
			<string>testNotifications.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>f54f1296-f0bf-43e4-b8b9-d973ab434363</string>
				<key>name</key>
				<string>tuto adhoc</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>3T67HE76NG</string>
				<key>name</key>
				<string>CONNECTHINGS</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
